canvas {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.selected {
  /* box-shadow: 0px 12px 22px 1px #333; */
  border: 2px solid red;
  opacity: 0.5;
}

.selected_imgs_div {
  background-color: #c7edcc;
  border-color: white;
  z-index: 9999;
  position: fixed ! important;
  right: 0px;
  top: 0px;
}
