snippet "(cc_binary|py_library|java_library)" "binary" brA
`!p snip.rv = match.group(1)`(
    name = "$1",
    srcs = ["$2"],
    deps = [
        $0
    ],
)
endsnippet

snippet "(cc|cuda)_library" "library" brA
`!p snip.rv = match.group(1)`_library(
    name = "$1",
    srcs = ["${3:$1.cc}"],
    hdrs = ["${2:$1.h}"],
    deps = [
        $0
    ],
)
endsnippet
