snippet ,main "main function" A
int main(int argc, const char *argv[]) {
  ${1}
  return 0;
}
endsnippet

snippet ,test "Script for quick testing" A
#include <cstdio>

#include <algorithm>
#include <iostream>

using std::cin;
using std::cout;
using std::endl;

int main(int argc, const char *argv[]) {
  ${1}
  return 0;
}
endsnippet
