snippet case "case statement"
case ${1:word} in
  ${2:pattern})
    $3;;
esac
endsnippet

snippet "if "  "if statement" brA
if [[ $1 ]]; then
  $0
fi
endsnippet

snippet "for " "for statement" brA
for ${1:i} in $2; do
  $0
done
endsnippet

snippet "\) {" "Curly brackets" irA
) {
  $0
}
endsnippet
